<<<<<<< HEAD
<h1>Wprowadź nowego lekarza</h1>

<%= render 'form' %>

<%= link_to 'Powrót', lekarzs_path %>
=======
<h1>New lekarz</h1>

<%= render 'form' %>

<%= link_to 'Back', lekarzs_path %>
>>>>>>> ad3e4b4ecae3cf5b94d6a8b785f9aca4703b5a16
